.navbar__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40%;
    color: #f5f5f5;
    width: 100%;
    position: fixed;
    box-shadow:  2px 4px rgba(48, 47, 47, 0.5);
}
.header__right > h3{
    font-size: 20px;
    outline: 0;
    border-color: transparent;
    
}

.header__right h3:hover{
    background-color: rgb(59, 56, 56);
    color: #fff;
    transition: .5s ease-out;
    cursor: pointer;
}
.header__left > ul{
    display: flex;
    list-style-type: none;
    gap: 90px;
    font-weight: 600;
}
ul > li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    position: relative;
    transition: color 0.3s;
}
ul > li a::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background: white; 
  transition: width 0.3s ease;
}

li a.active::after{
    width: 100%;
}
li a.active:hover::after{
    width: 100%;
}
@media (max-width: 768px){
    .navbar__container{
        display: none;
    }
}
@media (max-width: 1024px) {
    .navbar__container{
       display: none;
    }
    
}